* {
    box-sizing: border-box;
}

.box {
    margin: 8px;
}

.flex-container {
    display: flex;       
    flex-wrap: wrap;
    gap: 16px;
}

.imgbox {
    display: flex;
    justify-content: center;
    flex: auto;    
}

h1 {
    text-align: center;
    color: white;
    background-color: black;
}

h3 {
    text-align: center;
}

.image {
    height: 300px;
}

h2 {
    text-align: center;}

p, .lists {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}