* {
    box-sizing: border-box;
}

.box {
    margin: 8px;
}

.inline-images {
        display: flex;
        justify-content: center;
}

.imgbox {
    margin: 5px;
  }

h1 {
    text-align: center;
    color: white;
    background-color: black;
}

h3 {
    text-align: center;
}

.image {
    display: block;
    height: 300px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;}

p, .lists {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}